<template>
    <div class="slds-grid">
        <div class="slds-col slds-size_2-of-12">
            <lightning-input type="text" variant="label-hidden" value={inputValue} onchange={handleInput}>
            </lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-12">
            <lightning-button variant="brand" label="btn" onclick={btnClick}></lightning-button>
        </div>
    </div>
    <lightning-card title="Okutany serdca lydei tumanami" icon-name="utility:animal_and_nature">
        <lightning-datatable
                key-field="id"
                columns={columns}
                data={tableData}
                hide-checkbox-column>
        </lightning-datatable>
        <!-- <lightning-tree items={tableData} header="Table Data"></lightning-tree> -->
        <div slot="footer">
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-3">
                    <lightning-button variant="brand" label="Previous" title="Previous" icon-name="utility:chevronleft" icon-position="left" class="slds-m-left_x-small" onclick={previousPage}></lightning-button>
                </div>
                <div class="slds-col slds-size_1-of-3">
                    <lightning-icon icon-name="utility:bug" alternative-text="bucket"  size="large" title="bucket"></lightning-icon>
                </div>
                <div class="slds-col slds-size_1-of-3">
                    <lightning-button variant="brand" label="Next" title="Next" icon-name="utility:chevronright" icon-position="right" class="slds-m-right_x-small" onclick={nextPage}></lightning-button>
                </div>
            </div>
        </div>
    </lightning-card>
</template>